<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kt.appone" >

    <uses-permission android:name="com.mapplacesearch.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBkiJuIpMqIg5F7GvTaqSjC3EX3D-w0M_8" />

        <activity
            android:name=".ScanProduct"
            android:label="@string/title_activity_scan_product" >
        </activity>
        <activity
            android:name=".MyCart"
            android:label="@string/title_activity_my_cart" >
        </activity>
        <activity
            android:name=".NearBy"
            android:label="@string/title_activity_near_by" >
        </activity>
        <activity
            android:name=".ScanProductFragment"
            android:label="@string/title_activity_scan_product_fragment" >
        </activity>
        <activity
            android:name=".MyCartFragment"
            android:label="@string/title_activity_my_cart_fragment" >
        </activity>
    </application>

</manifest>
